<h1><%= title "Payment Problem" %></h1>

<div id="flash_error">
  <%= @message %>
</div>

<p>No funds have left your account and your order has not been completed, you may wish to try this transaction again.</p>
