<tr>
  <td align="left" valign="top">
    <div style="background-color: #ffffff; font-family: Tahoma, Arial, sans-serif; color: #000000; padding: 30px 30px 30px 30px;">
      
      <h1 style="margin: 0px 0px 2px 0px; padding: 0px 0px 2px 0px; font-size: 16px; font-weight: bold; line-height: normal;">
        Thank you for signing up to receive the onfriday newsletter.
      </h1>
      
      <p>
        We promise we won't bombard you with stuff - something once a month is probably our limit! You'll always have the opportunity to unsubscribe if you feel the onfriday thing isn't really your thing, however we hope that won't be the case! Please feel free to contact us at any time if you have any queries, suggestions or ideas - we'd love to hear from you. Thanks again for getting involved.
      </p>      
      
    </div>
  </td>
</tr>
