<tr>
  <td align="left" valign="top">
    <div style="background-color: #ffffff; font-family: Tahoma, Arial, sans-serif; color: #000000; padding: 30px 30px 30px 30px;">
      
      <h1 style="margin: 0px 0px 2px 0px; padding: 0px 0px 2px 0px; font-size: 16px; font-weight: bold; line-height: normal;">
      Thank you very much for placing an order with onfriday.
      </h1>
      
      Your purchase is helping to make the world a fairer and greener one, so thank you and well done!
      
      <br />
      <br />
      
      If you have any queries about your order, please don't hesitate to get in touch. The easiest way is to simply reply to this e-mail - we promise we'll contact you as quickly as we possibly can! 
      
      <br />
      
			<h2 style="margin: 10px 0px 0px 0px; padding: 10px 0px 0px 0px; font-size: 14px; font-weight: bold; line-height: normal;">
			Here are the details of your order:
			</h2>
      <br />
      
      <%= render "orders/order_email", :order => @order %>
      
    </div>
  </td>
</tr>
