<tr>
  <td align="left" valign="top">
    <div style="background-color: #ffffff; font-family: Tahoma, Arial, sans-serif; color: #000000; padding: 30px 30px 30px 30px;">
      
      <h1 style="margin: 0px 0px 2px 0px; padding: 0px 0px 2px 0px; font-size: 16px; font-weight: bold; line-height: normal;">
        Someone special has sent you an onfriday gift voucher!
      </h1>
      
      <br />
      <br />
      
      Congratulations! Here is your gift voucher - it has been sent to you via the onfriday website from someone special. We hope you enjoy spending it! Here are the details...
      
      <br />
      <br />
      
      <%= render "order_items/voucher_email", :order_item => @order_item %>
      
      <br />
      <br />
      Take extra special care of this code - you'll need it to use your voucher
      <br />
      <br />
      To activate your gift voucher please log in to your account. 
      If you don't have an onfriday account you'll need to set one up before using your gift voucher - just click the Register link at the top of our homepage. 
      Once in your account, click 'Redeem Gift Voucher' and enter the code. 
      By doing this it means your voucher code is linked securely to your account and can not be used by anyone else. 
      You are now ready to start shopping! 
      As you go through checkout your voucher will appear as credit in your account and you can choose to use all or some of your credit on your purchase. 
      Any remaining amount of credit will stay in your account until it is fully redeemed. 
      You can view the full Gift Voucher terms and conditions on our website.            
    </div>
  </td>
</tr>
