<% hide_right %>
<% hide_left %>
<% title("Welcome") %>

<script type="text/javascript">	
  swfobject.embedSWF("/flash/homepage.swf", "home_banner", "912", "456", "9.0.0");
</script>

<div id="home_banner">
	<%= image_tag "home_main_pic.jpg", :alt => "onfriday", :border => "0", :hspace => "0", :vspace => "0" %>
</div>