<% hide_left %>
<% hide_right %>

<h1 class="title_gift_wishlists"><%= title "Edit Wishlist" %></h1>
 <br />
<%= render :partial => 'form' %>

<p>
  <%= link_to "Back to wishlist page", @donation_page %>
</p>
